 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }


 body {
    background-image: url("../assets/images/background.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-repeat: no-repeat;
 }

 .image {
    height: 100px;
    align-self: center
 }


 h1 {
    font-size: 3.5rem;
    font-family: 'Noto Sans', sans-serif;
    color: antiquewhite;
    margin-bottom: 4rem;
    text-align: center;
 }

 h2 {
    margin-bottom: 1rem;
    color: antiquewhite;
    text-align: center;
    font-weight: 300;
    font-size: 30px;
 }

 .container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    padding: 2rem;
    margin: 0 auto;
    height: 100vh;
 }

 .flex-column {
    display: flex;
    flex-direction: column;
 }

 .button {

    text-decoration: none;
    color: black;
    font-weight: 800;
    border: 0.3rem solid rgb(0, 0, 0);
    padding: 1rem;
    background-color: yellow;
    width: 13rem;
    margin: auto auto 1rem;
    text-align: center;
 }

 .button:hover {
    cursor: pointer;
    box-shadow: none;
    transform: scale(1.17);
    transition: transform 150ms;
 }

 .button[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
 }

 /* Games page */
 .answer-choice {
    display: flex;
    margin-bottom: 0.7rem;
    background-color: #ffffff;
    width: 100%;
    border-radius: 4px;
    min-width: 40rem;
}

 .answer-choice:hover {
    box-shadow: 0 0.4rem 1.4rem 0;
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
 }

 .choice-prefix {
    padding: 1.5rem 2rem;
    background-color: lightskyblue;
    color: #ffffff;
 }

 .choice-text {
    padding: 1.5rem;
    width: 100%;

 }

 .correct {
    background-color: #28a745;
 }

 .incorrect {
    background-color: #dc3545;
 }

 /* Question number and Score area */

 #hud {
    display: flex;
    justify-content: space-between;

 }

 .hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: antiquewhite;
 }

 .hud-main-text {
    text-align: center;


 }

 #progressBar {
    height: 2rem;
    border: 0.3rem solid white;
    margin-left: 0.5rem;
    width: 10rem;
    margin-top: 2rem;

 }

 #progressBarFull {
    height: 100%;
    background-color: gold;
    width: 0%;
 }

 /* High Score Page */

 .highscores {
    font-size: 3rem;
    margin-bottom: 0.5rem
 }

 .highscores:hover {
    transform: scale(1.17);
    cursor: pointer;
 }

 #highScoresList {
    margin-bottom: 3rem;
    list-style: none;
    font-size: 3rem;
    color: black;
    font-size: 200%;
 }

 /* end page */

 .score-style {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: antiquewhite;
    font-weight: 600;
    margin-left: 6rem;
 }

 .submit-highscore {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 input {
    margin-bottom: 1rem;
    width: 12rem;
    padding: 1rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(64, 145, 108, 0.5);
 }

 input::placeholder {
    color: #aaa;
 }


  /* media queries */

 @media screen and (max-width: 768px) {
    .answer-choice {
       min-width: 10rem;
    }


 }

 @media screen and (max-width: 653px) {
    .image {
       height: 75px
    }
 }