 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
  
    body {
    background-image: url("/assets/images/background.jpg") ;
    background-size: cover contain;
    overflow: none;
}



h1 {
   font-size: 5.5rem;
   font-style: Irish Grover;
   color: antiquewhite;
   margin-bottom: 4rem;
}

h2 {
   margin-bottom: 1rem;
   color: black;
   text-align: center;
   font-weight: 300;
   font-size: 30px;
}

.container {
   display: flex;
   width:100vw;
   justify-content: center;
   align-items: center;
   max-width: 80rem;
   padding: 2rem;
   margin: 0 auto;
   height: 100vh ;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.button {
  
   text-decoration: none;
   color: black;
   font-weight: 800;
   border: 0.3rem solid rgb(0, 0, 0);
   padding: 0.6rem;
   background-color:yellow ;
   width: 12rem;
   margin: auto auto 1rem;
}

.button:hover {
   cursor: pointer;
   box-shadow: none ; 
   transform: scale(1.17);
   transition: transform 150ms;
}

.button[disabled]:hover {
   cursor: not-allowed;
   box-shadow: none;
   transform: none;
}

/* Games page */
.answer-choice {
   display: flex;
   margin-bottom: 0.7rem;
   background-color: #ffffff;
   width: 100%;
   border-radius: 4px;
   min-width: 40rem;

   
  
  
}

.answer-choice:hover {
   box-shadow: 0 0.4rem 1.4rem 0;
   cursor: pointer;
   transform: translateY(-0.1rem);
   transition: transform 150ms;
}

.choice-prefix {
   padding: 1.5rem 2rem;
   background-color: lightskyblue;
   color: #ffffff;
}

.choice-text {
   padding: 1.5rem;
   width: 100%;

}

.correct {
   background-color: #28a745;
}

.incorrect {
   background-color: #dc3545;
}

/* Question number and Score area */

#hud {
   display: flex;
   justify-content: space-between;
   
}

.hud-prefix {
   text-align: center;
   font-size: 2rem;
   
   
  
}

.hud-main-text {
   text-align: center;
   
 
}

#progressBar {
   height: 2rem;
   border: 0.3rem solid white;
   margin-left: 0.5rem;
   width: 10rem;
   margin-top: 2rem;

}

#progressBarFull {
   height: 100%;
   background-color: gold;
   width: 0%;
}




@media screen and (max-width: 768px) {
.answer-choice {min-width: 10rem;}
} 

