 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
  
    body {
    background-image: url("/assets/images/background.jpg");
    background-size: cover
}



h1 {
   font-size: 5.5rem;
   font-style: Irish Grover;
   color: antiquewhite;
   margin-bottom: 4rem;
}

h2 {
   margin-bottom: 1rem;
   color: #1B4332;
   text-align: center;
}

.container {
   display: flex;
   width:100vw;
   justify-content: center;
   align-items: center;
   max-width: 80rem;
   padding: 2rem;
   margin: 0 auto;
   height: 100vh ;
}

.flex-column {
   display: flex;
   flex-direction: column;
}

.button {
  
   text-decoration: none;
   color: black;
   font-weight: 800;
   border: 0.3rem solid rgb(0, 0, 0);
   padding: 0.6rem;
   background-color:yellow ;
   width: 12rem;
   margin: auto auto 1rem;
}

.button:hover {
   cursor: pointer;
   box-shadow: none ; 
   transform: scale(1.17);
   transition: transform 150ms;
}

.button[disabled]:hover {
   cursor: not-allowed;
   box-shadow: none;
   transform: none;
}

/* Games page */
.answer-option {
   display: flex;
   margin-bottom: 0.8rem;
   width: 100%;
   font-size: 3rem
}

.answer-option:hoover {
   cursor: pointer;
   box-shadow: 0 0.4rem 1.4rem 0;
   transform: scale(1.17);
   transform: transform 150ms;
}

.choice-prefix {
   padding : 2rem 2.3rem;
   color: white;
}

.choice-text {
   padding: 2rem;
   width: 100%;
}

/* hud and progress bar */

#hud {
   display: flex;
   justify-content: space-between;
}

.hud-prefix {
   font-size: 2rem;
   text-align: center;}

.hud-main-text {
   text-align: center
}

#progressBar {
   width: 18rem;
   height: 3rem;
   border: 0.2 green;
   border-radius: 50px;
   margin-top: 2rem;
   overflow: hidden;
}

#progressBarfull {
   height: 2rem;
   background-color: aqua;
   width: 0%;
}
